<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hst.sdkTest">

    <uses-sdk tools:overrideLibrary="com.inpor.fastmeetingcloud"/>

    <application
        android:name="com.hst.sdkTest.MyApplication"
        tools:replace="android:icon,android:theme,android:name,android:label"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.hst.sdkTest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      <!--  <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hst.sdkTest.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>-->


    </application>

</manifest>