name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Set useVersionInfo
        id: openwrt
        run: |
          echo "name=useVersionInfo::$useVersionInfo"
          echo $GITHUB_REF
          
      - uses: release-drafter/release-drafter@v5
        name: Draft
        with:
          body: |
            当前使用版本：
            ${{ env.useVersionInfo }}
          config-name: config-release-drafter.yml
          # 预发布 prerelease : true ,publish 已发布,草稿 draft: true
          publish: true
          prerelease: false
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
