name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v0.4.1
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - uses: release-drafter/release-drafter@v5
        name: Draft
        with:
          body: ${{ steps.changelog.outputs.changelog }}
          config-name: config-release-drafter.yml
          # 预发布 prerelease : true ,publish 已发布,草稿 draft: true
          publish: true
          prerelease: false
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
