name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v0.4.4
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}


      - name: Get the changelog
        run: echo "${{ steps.changelog.outputs.changelog }}"

      - uses: release-drafter/release-drafter@v5
        name: Draft
        with:
          config-name: config-release-drafter.yml

          # 预发布 prerelease : true ,publish 已发布,
          publish: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
