name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        name: Draft
        with:
          config-name: config-release-drafter.yml
          # 预发布 prerelease : true ,草稿 draft: true
          prerelease: false
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}