name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v0.4.4
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}


      - name: Get the changelog
        run: |
          echo ${{ steps.changelog.outputs.changelog }}
          echo ${{ steps.PR.outputs.number }}
          echo ${{ steps.PR.outputs.pr }}
          echo ${{ fromJson(steps.PR.outputs.pr).head.ref }}
          echo ${{ env.GITHUB_REF_NAME }}

      - name: Release Drafter
        if: ${{ steps.PR.outputs.number && (steps.PR.outputs.pr != '') && fromJson(steps.PR.outputs.pr).head.ref == env.GITHUB_REF_NAME }}
        uses: release-drafter/release-drafter@v5.12.1
        with:
          config-name: config-release-drafter.yml
          body: |
            当前使用版本：
            ${{ steps.changelog.outputs.changelog }}
          # 预发布 prerelease : true ,publish 已发布,
          publish: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
